
  <header class="header bg-white b-b b-light">
    <p>Layout with different color, it's very easy to make it works</p>
  </header>
  <section class="scrollable wrapper w-f">
    <p class="h4">Contents...</p>
  </section>
  